<div class="container">
  <!-- <img src="assets/yellow.jpeg" alt="" class="bkg"> -->
  <h2>
    Repository
    <a routerLink=''>Home</a>
  </h2>
  <hr>
  <form class="" action="index.html" class="search-form">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="search for users in github" [(ngModel)]="username" name="username" (keyup)="findProfile()">
    </div>
  </form>
  <div class="col-sm-5" *ngIf="profile">
    <h4>Details</h4>
    <img src="{{profile.avatar_url}}" alt="Profile Image" style="height:89%; width:85%" class="img-circle img-responsive">
    <p> Name: <b>{{profile.name}} </b></p>
    <p> Username: <b>{{profile.login }} </b></p>
    <p> Place : <b>{{profile.location}} </b></p>
    <p> joined : <b>{{profile.created_at}} </b></p>


  </div>
</div>
