<div class="panel panel-default">
  <a href="https://github.com/joyjoie" class="btn btn-default bn-l"> View profile on github
    <img src="assets/pix.jpeg" style="height:10%; width:10%">
  </a>
</div>
<hr>
<div class="panel-body" *ngIf='profile'>
  <div class="row">
    <div class="col-sm-3">
      <h4>My Profile</h4>
    </div>
  </div>

  <div class="col-sm-5" *ngIf="profile">
    <p> Name: <b>{{profile.name}} </b></p>
    <p> Username: <b>{{profile.login }} </b></p>
    <p> Place : <b>{{profile.location}} </b></p>
    <p> joined : <b>{{profile.created_at}} </b></p>

  </div>
  <div class="col-sm-4">
    <p>
      <span class="label label-default">{{profile.followers}} Followers </span>
      <span class="label label-primary"> {{profile.following}} Following </span>
      <span class="label label-success">{{profile.public_repos}} Repositories </span>
    </p>
    <p></p>
  </div>
</div>

<div class="panel-heading">
  <h3 class="pane-title"> Repos</h3>
  <div class="panel-body" ngFor="let repo of repos">
    <p class="clearfix"> {{repo.name}} <a href="{{repo.html_url}}" target="blank" class="btn btn-sm btn-warning pull-right"> View the project on github/a></p>
    <p> {{repo.description}}</p>
  </div>
</div>
